@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    overflow: auto;
    max-width: 960px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
header {
    text-transform: uppercase;
    position: relative;
    height: 100px;
    width: 100%;
    
}
header h1 {
    height: 60px;
    top: 10%;
    width: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 1px #000000, 3px 3px 5px rgba(72,195,206,1);
    letter-spacing: 20px;
    float: left;
    background-color: rgba(102,92,172,1);
/*    display: inline-block;*/
/*    position: fixed;*/
}
header h1 a {
    transition: 0.3s;
    text-decoration: none;
    width: 100%;
    color: white;
    padding: 15px;
}

header h1 a:hover {
    text-decoration: overline;
    background-color: rgba(72,195,206,0.5);
}

header h1 img {
    clear: float;
    float: left;
    margin-left: 10%;
    margin-right: -10%;
    height: 50px;
    transition: 0.5s;
    display: inline-block;
}

header img:hover {
    height: 60px;
    -webkit-filter: brightness(3);
    filter: brightness(3);
}

header nav {
    width: 100%;
    height: 50px;
    background: rgba(102,92,172,1);
    float: left;
    clear: both;
/*    position: fixed;*/
}

header nav ul {
    list-style: none;
}

header nav ul li {
    width: 25%;
    float: left;
    text-align: center;
}

header nav ul li a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: rgba(72,195,206,1);
    line-height: 50px;    
    font-size: 600;
    text-shadow: .2px .2px white;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: rgba(102,92,172,1);
    font-weight: 800;
    background-color: rgba(72,195,206,0.5);
}

header nav ul li a:active {
    color: white;
    font-weight: 800;
    background-color: rgba(72,195,206,0.7);
}

main {
    width: 100%;
    height: 900px;
    float: left;
    clear: left;
    background-color: white;
    display: block;
    margin-bottom: 4%;
}

main div {
    float: left;
    width: 29%;
    height: 900px;
    margin: 2%;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(250,248,212,.5);
}

main div a {
    
}

main div h2 {
    text-transform: uppercase;
    text-align: center;
}

main div p {
    padding: 3%;
    text-align: inherit;
}

main div img {
    padding: 1%;
    width: 97%;
    transition: .5s;
}

main div img:hover {
    filter: blur(5px);
}

.info {
    border: 3px solid black;
    border-radius: 50%;
    background-color: deeppink;
    text-align: center;
}

.info p {
    padding: 10%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.info img {
    width: 100px;
}

.contacts {
    width: 100%;
    height: 500px;
    background-color: aqua;
}

footer {
    float: left;
    width: 100%;
    height: 2em;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-align: right;
    background-color: rgba(102,92,172,1);
}

footer span {
    color: deeppink;
}

footer a {
    color: rgba(72,195,206,0.8);
    transition: 0.3s;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-weight: 800;
    color: rgba(72,195,206,1);
}